<!-- this submits the coordinates to the controller -->
<!-- gets the variables from the locals hash -->
<!-- gets @game from /show, it wouldn't otherwise -->
<!--  have access to the instance variable -->
<%= form_for(game) do |gf| %>
  <%= gf.hidden_field :row, :value => row %>
  <%= gf.hidden_field :column, :value => column %>
  <% if game.board[row][column] == "x" || game.board[row][column] == "o" %>
<!-- send the form to /show -->  
  	<span> <%="#{game.board[row][column]}" %> </span>
  <% elsif game.winner? %>
  	<%= gf.label " ", class: "big-btn btn btn-large btn-success disabled" %>
  <% else %>
  	<%= gf.submit " ", class: "big-btn btn btn-large btn-success" %>
  <% end %>
<% end %>
